* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#topBtns {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

button {
    margin: 10px 0 10px 0;
}


#main-container {
    box-sizing: content-box;
    width: 960px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.etch-div {
    border: 1px solid black;
    background-color: lightgray;
}